@font-face {
    font-family: "MyLocalFont";
    src: url(../5.4/static/Montserrat-Light.ttf);
}
.vtoroi {
  font-family: "MyLocalFont", sans-serif;
  font-weight: 200;
  font-style: Light;
}
.noto-sans-chorasmian-regular {
  font-family: "Noto Sans Chorasmian", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: 'Poppins', Arial, sans-serif;
  color: darkblue;
}